body{
  margin: 0;
}
header, main, footer {
  width: 1000px;
  margin-left: calc(50% - 500px);
  margin-bottom: 30px;
  background-color: aqua;
}

header {
  margin-top: 30px;
}
img {
  background-color: brown;
  width: 100px;
  height: 40px;
  object-fit: contain;
  object-position: left;
  float: left;
}
nav {
  float: right;

}
a{

}

main {


}
footer {
  

}
